.main-content {
    width: 50%;
    height: 60%;
    margin: 0 auto;
}

.app-logo {
    width: 70px;
}

.app-title {
    font-size: 25px;
    font-weight: 300;
}

.main-content-body {
    padding: 40px 0 40px 0;
}

.warning-icon {
    float: right;
}

.message-box{
    color: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.success {
    background-color: #22b322;
}

.error {
    background-color: #f71414;
}

.response-body {
    margin-top: 30px !important;
}

::ng-deep .email-form-control .mat-form-field-flex{

    background-color: #e1e1e1 !important;
    border-radius: 3px;
    height: 50px;
}

.code-input {
    letter-spacing: 9vw;
}
