<div class="main-content">
  <mat-card>
    <mat-card-header fxLayout fxLayoutAlign="center center">

      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
        <div>
          <img class="app-logo" src="assets/images/dummy-logo.jpg" alt="Logo">
        </div>
        <div class="app-title">Company Title</div>
      </div>
    </mat-card-header>
    <app-content-loader *ngIf="!loaded"></app-content-loader>
    <mat-card-content>
      <div *ngIf="!goBack" class="main-content-body">

        <form *ngIf="!enteredCode" novalidate [formGroup]="codeFG" (ngSubmit)="codeSubmit(codeFG.value)" fxLayout="column"
          fxLayoutGap="20px">
          <div formArrayName="codeArray" fxLayout fxLayoutAlign="space-around">
            <mat-form-field appearance="outline" fxFlex="10" *ngFor="let control of codeArray.controls; let i = index;">
              <input matInput [formControlName]="i" (keyup)="detectFocus($event, i)" [id]="'control-'.concat(i)" maxlength="1">
            </mat-form-field>
          </div>

          <mat-error *ngIf="codeFG.controls['code'].hasError('notValid')">
            <span>Please enter a valid code.</span>
            <mat-icon class="warning-icon">warning</mat-icon>
          </mat-error>
          <mat-error *ngIf="codeFG.controls['code'].hasError('redeemed')">
            <span>This code is already redeemed, Please try a different one.</span>
            <mat-icon class="warning-icon">warning</mat-icon>
          </mat-error>
          <mat-error *ngIf="codeFG.controls['code'].hasError('serverError')">
            <span>Something went wrong, Please try refreshing the page.</span>
            <mat-icon class="warning-icon">warning</mat-icon>
          </mat-error>


          <!-- <mat-form-field fxFlex="80" floatLabel="never">
            <input class="code-input" matInput #input [patterns]="customPatterns" mask="00000" [showMaskTyped] = "true" formControlName="code" required>
            <mat-error *ngIf="codeFG.controls['code'].hasError('required')">
              <span>Code is required.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="codeFG.controls['code'].hasError('expectedRange')">
              <span>Code must be 5 character long.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="codeFG.controls['code'].hasError('notValid')">
              <span>Please enter a valid code.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="codeFG.controls['code'].hasError('redeemed')">
              <span>This code is already redeemed, Please try a different one.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="codeFG.controls['code'].hasError('serverError')">
              <span>Something went wrong, Please try refreshing the page.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
          </mat-form-field> -->

          <div fxFlex="80" fxLayout fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-raised-button color="primary" [disabled]="codeFG.invalid"> Next </button>
          </div>

        </form>

        <form *ngIf="enteredCode" novalidate [formGroup]="emailFG" (ngSubmit)="emailSubmit(emailFG.value)" fxLayout="column"
          fxLayoutGap="20px">

          <mat-form-field class="email-form-control" FxFlex="80" floatLabel="never">
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="emailFG.controls['email'].hasError('required')">
              <span>Email is required.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="emailFG.controls['email'].hasError('email')">
              <span>Please provide a valid email.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
            <mat-error *ngIf="emailFG.controls['email'].hasError('serverError')">
              <span>Something went wrong, Please try refreshing the page.</span>
              <mat-icon class="warning-icon">warning</mat-icon>
            </mat-error>
          </mat-form-field>
          <div fxFlex="80" fxLayout fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-raised-button color="primary" [disabled]="emailFG.invalid"> Submit </button>
            <button mat-raised-button (click)="codeFG.reset(); enteredCode = null"> Cancel </button>
          </div>
        </form>

      </div>
      <div *ngIf="goBack" class="response-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div *ngIf="successResponse" class="message-box success" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div>Data has been submitted successfully.</div>
          <mat-icon>done</mat-icon>
        </div>
        <div *ngIf="errorResponse" class="message-box error" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div>Something went wrong Please try again.</div>
          <mat-icon>cancel</mat-icon>
        </div>
        <button (click)="resetPage()" mat-raised-button color="primary">
          <mat-icon>arrow_back</mat-icon>
          Go Back
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>